html{
    background-image: url(kil\ god.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /*background: linear-gradient(grey,black);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;*/
}

h1{
    background: linear-gradient(blue,purple)
}

p{
    background: linear-gradient( to right,white,grey,black)
}

#mytext{
    background: linear-gradient(to right,white,grey,black)
}